/slotted-page-buffer-manager/cmake-build-debug/
/slotted-page-buffer-manager/cmake-build-release/
/slotted-page-mmap/cmake-build-debug/
/slotted-page-mmap/cmake-build-release/
/mmap-btree/cmake-build-debug/
/TransFuse/cmake-build-debug/
/TransFuse/.idea/
/slotted-page-buffer-manager/.idea/
/slotted-page-mmap/.idea/
/mmap-btree/.idea/
/slotted-page-buffer-manager/.idea/
/TransFuse/.idea/
/TransFuse/.vscode/
/**/.vscode/